@page
@model DeleteModel

@{
    ViewData["Title"] = "Видалити транзакцію";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row justify-content-center">
        <h3 class="text-center">Ви впевнені що бажаєте видалити цю транзакцію?</h3>
        <div class="col-md-4">
            <div class="card mx-auto">
                <h4 class="card-header">Рахунок: @Html.DisplayFor(model => model.Transaction.Title)</h4>

                <div class="card-text">
                    <dl class="row mx-auto">
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.Transaction.TransactionType)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Transaction.TransactionType)
                        </dd>
                                       
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.Transaction.Amount)
                        </dt>
                                       
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Transaction.Amount)
                        </dd>
                                       
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.Transaction.CurrencyCode)
                        </dt>
                                       
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Transaction.CurrencyCode)
                        </dd>
                                       
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.Transaction.Account)
                        </dt>
                                       
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Transaction.Account!.Title)
                        </dd>
                                       
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.Transaction.DateTime)
                        </dt>
                                       
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Transaction.DateTime)
                        </dd>
                                       
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.Transaction.Description)
                        </dt>
                                       
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Transaction.Description)
                        </dd>
                                       
                    </dl>
                </div>

                <div class="card-footer">
                    <form method="post">
                        <input type="hidden" asp-for="Transaction.Id"/>
                        <input type="submit" value="Видалити" class="btn btn-danger"/> |
                        <a asp-page="./Index">Повернутись назад</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>