@page
@model DetailsModel

@{
    ViewData["Title"] = "Деталі транзакції";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card mx-auto mt-5">
                <h4 class="card-header">Транзакція: @Html.DisplayFor(model => model.Transaction.Title)</h4>
                
                <div class="card-text">
                    <dl class="row mx-auto">
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.Transaction.TransactionType)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Transaction.TransactionType)
                        </dd>
                        
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.Transaction.Amount)
                        </dt>
                        
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Transaction.Amount)
                        </dd>
                        
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.Transaction.CurrencyCode)
                        </dt>
                        
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Transaction.CurrencyCode)
                        </dd>
                        
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.Transaction.Account)
                        </dt>
                        
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Transaction.Account!.Title)
                        </dd>
                        
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.Transaction.DateTime)
                        </dt>
                        
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Transaction.DateTime)
                        </dd>
                        
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.Transaction.Description)
                        </dt>
                        
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Transaction.Description)
                        </dd>
                        
                    </dl>
                </div>
                
                <div class="card-footer">
                    <div>
                        <a asp-page="./Edit" asp-route-id="@Model.Transaction?.Id">Редагувати</a> |
                        <a asp-page="./Index">Повернутись назад</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>