@page
@model IndexModel

@{
    ViewData["Title"] = "Транзакції";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="container justify-content-end text-end">
            <a asp-page="Create">Створити нову</a>
        </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Transactions[0].TransactionType)
                </th>
                
                <th>
                    @Html.DisplayNameFor(model => model.Transactions[0].Title)
                </th>
                
                <th>
                    @Html.DisplayNameFor(model => model.Transactions[0].Amount)
                </th>
                
                <th>
                    @Html.DisplayNameFor(model => model.Transactions[0].CurrencyCode)
                </th>
                
                <th>
                    @Html.DisplayNameFor(model => model.Transactions[0].DateTime)
                </th>
                
                <th>
                    @Html.DisplayNameFor(model => model.Transactions[0].Description)
                </th>
                
                <th>
                    @Html.DisplayNameFor(model => model.Transactions[0].Account)
                </th>
                
                <th>
                    
                </th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.Transactions!)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TransactionType)
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.CurrencyCode)
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.DateTime)
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.Account!.Title)
                </td>
                
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Редагувати</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Деталі</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Видалити</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
