@page
@model DetailsModel

@{
    ViewData["Title"] = "Деталі рахунку";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card mx-auto mt-5">
                <h4 class="card-header">Рахунок: @Html.DisplayFor(model => model.Account.Title)</h4>
                
                <div class="card-text">
                    <dl class="row mx-auto">
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.Account.AccountType)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Account.AccountType)
                        </dd>
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.Account.Amount)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Account.Amount)
                        </dd>
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.Account.CurrencyCode)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Account.CurrencyCode)
                        </dd>
                    </dl>
                </div>
                
                <div class="card-footer">
                    <div>
                        <a asp-page="./Edit" asp-route-id="@Model.Account?.Id">Редагувати</a> |
                        <a asp-page="./Index">Повернутись назад</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


