@page
@model IndexModel

@{
    ViewData["Title"] = "Рахунки";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="container">
    
    <div class="container justify-content-end text-end">
        <a asp-page="Create">Створити новий</a>
    </div>
    
    <div class="container">
        <table class="table">
            <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Account[0].AccountType)
                </th>
                
                <th>
                    @Html.DisplayNameFor(model => model.Account[0].Title)
                </th>
                
                <th>
                    @Html.DisplayNameFor(model => model.Account[0].Amount)
                </th>
                
                <th>
                    @Html.DisplayNameFor(model => model.Account[0].CurrencyCode)
                </th>
                
                <th>
        
                </th>
            </tr>
            </thead>
            
            <tbody>
            @foreach (var item in Model.Account)
            {
                <tr>
                    <td>
                        @item.AccountType.ToString()
                    </td>
                    
                    <td>
                        @item.Title
                    </td>
                    
                    <td>
                        @item.Amount
                    </td>
                    
                    <td>
                        @item.CurrencyCode.ToString()
                    </td>
                    
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.Id">Редагувати</a> |
                        <a asp-page="./Details" asp-route-id="@item.Id">Деталі</a> |
                        <a asp-page="./Delete" asp-route-id="@item.Id">Видалити</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>
